@using AutoMate.Actions
@using Shared.Asp.Alert
@using Shared.Asp.GenMenu
@using Shared.Asp.GenNav
@using Shared.Utils.Asp
@using Shared.Utils.Core

@model AutoMate.Models.AmSettings


@{
    const string SAVE_SETTINGS_POST_ACTION = "/Settings/SaveSettings_PostAction";
    const string LOCAL_UPDATE_POST_ACTION = "/Settings/LocalUpdate_PostAction";
}
@{
    ViewData["Title"] = "Settings";
}

<div class="border-bottom">
    <h2>@ViewData["Title"]</h2>
</div>

@if (Model != null)
{
    <br>
    <ul class="nav nav-tabs" id="idTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="idTabGeneral" data-bs-toggle="tab" data-bs-target="#idGeneral" type="button" role="tab" aria-controls="idGeneral" aria-selected="true">General</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="idTabLocal" data-bs-toggle="tab" data-bs-target="#idLocal" type="button" role="tab" aria-controls="idLocal" aria-selected="false">Local folder</button>
        </li>
    </ul>

    <div class="tab-content" id="idTabContent">
        <div class="tab-pane fade show active" id="idGeneral" role="tabpanel" aria-labelledby="idTabGeneral">
            <form>
                <div class="card">
                    <div class="card-body">
                        @{
                            // Navigation:
                            var _nNav = new NavSettings<AmSettings>(Model, SAVE_SETTINGS_POST_ACTION);

                            <partial name="~/Shared/Asp/GenNav.cshtml" model="_nNav"/>
                        }
                    </div>
                    <div class="card-footer" align="right">
                        <input type="submit" class="btn btn-primary" name="@AmSaveSettingsAction.FormatName()" value="Save" formaction=@SAVE_SETTINGS_POST_ACTION formmethod="post" />
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="idLocal" role="tabpanel" aria-labelledby="idTabLocal">
            <form>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Pulled git repositories when updating local folder:</p>
                        <div class="list-group">
                            @foreach (var _aRepo in Env.Local.Repositories)
                            {
                                <a class="list-group-item list-group-item-action">
                                    <h5 class="mb-1">@_aRepo.Name</h5>
                                    <ul>
                                        @foreach (var _sFile in _aRepo.ScriptFiles)
                                        {
                                            <li><small class="text-muted">@System.IO.Path.GetFileName(_sFile)</small></li>
                                        }
                                    </ul>
                                </a>
                            }
                        </div>

                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="restartModules" name="restartModules" checked>
                            <label class="form-check-label" for="restartModules">Restart modules</label>
                        </div>
                    </div>
                    <div class="card-footer" align="right">
                        <input type="submit" class="btn btn-primary" value="Update" formaction=@LOCAL_UPDATE_POST_ACTION formmethod="post" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}