﻿@using Shared.Utils.Core
@inject AutoMate.Services.AmCoreService aCoreService

@{
    int i = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoMate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/multiLevel-DropDown.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AutoMate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if ((User.Identity.IsAuthenticated) && (!aCoreService.Modules.IsEmpty()))
                        {
                            <li class="nav-item dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    Modules
                                    @{
                                        var _iFailed = aCoreService.FailedModules.Count();
                                        if (_iFailed > 0)
                                        {
                                            <span class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle">
                                                @_iFailed
                                            </span>
                                        }
                                    }
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Modules" asp-action="Index">Dashboard</a>
                                    <div class="dropdown-divider"></div>
                                    @foreach (var aModule in @aCoreService.Modules)
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Modules" asp-action="Module" asp-route-iIndex="@i">@aModule.GetSettings().Title</a>
                                        i++;
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AutoMate - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <partial name="~/Shared/Asp/UserNotice.cshtml" model="@aCoreService.UserNotices"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/multiLevel-DropDown.js" asp-append-version="true"></script>

    <!-- [BOOTSTRAP] https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
