﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">@User.Identity.Name</button>
            <div class="dropdown-menu">
                @if (User.IsInRole(Env.ROLE_ADMIN))
                {
                    <button class="dropdown-item disabled">Administration</button>
                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Modules" asp-action="Setup">Module Setup</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Modules" asp-action="Logs">Logs</a>
                }
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                <div class="dropdown-divider"></div>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    
    <li class="nav-item dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">?</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="Assist" asp-action="About">About</a>
            
            @{
                #if DEBUG
                if (User.IsInRole(Env.ROLE_ADMIN))
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Assist" asp-action="Debug">Debug</a>
                }
                #endif
            }
        </div>
    </li>
</ul>
