@{
    ViewData["Title"] = "Debug";
}


<div>DEBUG</div>
<p>
  <form asp-area="" asp-controller="Assist" asp-action="ClearSession" method="post">
      <button type="submit" class="btn btn-secondary">Clear session</button>
  </form>
</p>
