@using AutoMate.Logger
@using AutoMate.Modules
@using AutoMate
@using AutoMate.Modules.Script
@using Shared.Utils.Core
@using Shared.Asp.Alert

@inject AutoMate.Services.AmCoreService aService;


@{
  ViewData["Title"] = "Dashboard";

  var lAlerts = new List<Alert>();
}
@functions
{
  int _iIdModal, _idVal;
  public void PrintText(string sName, object oValue)
  {
    var _sId = string.Format("idVal{0}", _idVal++);
    <div class="mb-3 row">
      <label for="@_sId" class="col-sm-6 col-form-label">@sName:</label>
      <div class="col-sm-6">
        <input type="text" readonly class="form-control-plaintext" id="@_sId" value="@oValue.ToString()">
      </div>
    </div>
  }
  public void PrintModal(string sModalId, string sButtonClass, string sModalTitle, Action aBody) => PrintModal(sModalId, "", sButtonClass, sModalTitle, aBody);
  public void PrintModal(string sModalId, string sModalSize, string sButtonClass, string sModalTitle, Action aBody)
  {
    <button type="button" class="btn @sButtonClass" data-bs-toggle="modal" data-bs-target="#@sModalId">@sModalTitle</button>
    <div class="modal fade" id="@sModalId" tabindex="-1" aria-labelledby="labelModalForm" aria-hidden="true">
      <div class="modal-dialog @sModalSize">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="labelModalForm">@sModalTitle</h5>
          </div>
          <div class="modal-body">
            @{
              aBody();
            }
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  }
  public void PrintDiagnosis(ICycleDiag iDiagnosis)
  {
    string _sButCls = (iDiagnosis.Critical ? "btn-outline-danger" : "btn-outline-warning");
    Action _aDiag = () =>
    {
      PrintText("Measured average period", iDiagnosis.MeasuredAveragePeriod);
      PrintText("Average cycle length", iDiagnosis.AverageCycleLength);
      PrintText("Average cycle load", string.Format("{0}%", iDiagnosis.AverageLoad));
      PrintText("Lowest cycle load", string.Format("{0}%", iDiagnosis.MinLoad));
      PrintText("Highest cycle load", string.Format("{0}%", iDiagnosis.MaxLoad));
      PrintText("Exceeded cycles", iDiagnosis.ExceededCycles);
    };
    PrintModal(string.Format("idDiag{0}", _iIdModal++), _sButCls, "Diagnosis", _aDiag);
  }
  public bool PrintLog(long lModuleId)
  {
    if (ModuleLogSink.Events.TryGetValue(lModuleId, out var _qLog))
    {
      var _tEvents = _qLog.Where(_tEvent => (_tEvent.Item1 >= Env.FilteredLogLevel.MinimumLevel));
      if (!_tEvents.IsEmpty())
      {
        Action _aDiag = () =>
        {
          <p class="text-monospace font-size-sm line-height-sm">
            @foreach (var _tEvent in _tEvents)
            {
              @Html.Raw(_tEvent.Item3 + "<br>");
            }
          </p>

        };
        PrintModal(string.Format("idLog{0}", _iIdModal++), "modal-xl", "btn-outline-warning", "Log", _aDiag);

        return (true);
      }
    }
    return (false);
  }
}

<h2>@ViewData["Title"]</h2>

@{
  // Display modules:
  foreach (var _aModule in aService.Modules)
  {
    bool _bError = (_aModule.State.State != AutoMate.Modules.AmModuleState.eOk);
    string _sBorder, _sText;
    if (_bError)
    {
      _sBorder = "border-danger";
      _sText = "text-danger";
    }
    else
    {
      _sBorder = "border-secondary";
      _sText = "text-secondary";
    }

    <div class="card mb-3 @_sBorder">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <div>
            <h5>@_aModule.Title</h5>

            @if (_aModule is IAmScriptingHost _iHost)
            {
              <p class="card-text"><small class="text-muted">@_iHost.Script?.Version.ToString()</small></p>
            }
          </div>

          @if (User.IsInRole(Env.ROLE_ADMIN))
          {
            <div class="btn-group" role="group" aria-label="Basic example">
              @{
                PrintLog(_aModule.Identifier);

                if (!(_aModule is IAmCyclicModule _iCyclic))
                  ;
                else if ((_iCyclic.Diagnosis == null) || (!_iCyclic.Diagnosis.Ready))
                  ;
                else
                  PrintDiagnosis(_iCyclic.Diagnosis);
              }
            </div>
          }
        </div>
      </div>
      <div class="card-body @_sText">
        @{
          if (!string.IsNullOrEmpty(_aModule.Comment))
          {
            <h5 class="card-title">@_aModule.Comment</h5>
          }

          if (_bError)
            lAlerts.Add(new Alert("Error", _aModule.State.Message, AlertIcon.eExclamation, AlertLayout.eDanger));
          #if DEBUG
          if (_aModule.IsDebugging)
            lAlerts.Add(new Alert(_aModule.DebugState, AlertIcon.eExclamation, AlertLayout.eWarning));
          #endif

          // Display alerts:
          var _nAlerts = new AlertSettings(lAlerts);
          <partial name="~/Shared/Asp/Alert.cshtml" model="_nAlerts"/>
        }
      </div>
    </div>

    lAlerts.Clear();
  }
}

@*
// (BETA) ...
- Dashboard aller Module anzeigen
- Links:
  https://getbootstrap.com/docs/5.0/components/accordion/
*@
