@using Shared.Asp.Alert
@using Shared.Asp.GenMenu
@using Shared.Asp.GenNav
@using Shared.Utils.Asp
@using AutoMate.Modules
@using AutoMate.Event
@using Shared.Utils.Core

@model AutoMate.Modules.AmModule


@{
    const string FORM_MENU_POST_ACTION = "/Modules/Module_MenuPostAction";
    const string FORM_NAV_POST_ACTION = "/Modules/Module_NavPostAction";
}
@{
    bool _bCanEdit = false;

    if (Model != null)
    {
        ViewData["Title"] = Model.GetSettings().Title;

        _bCanEdit = Model.Datasets.Values
            .SelectMany(_iDataset => _iDataset.Variables)
            .Any(_iVar => (_iVar.VariableType == AmVariableType.eSetpoint));
    }
}

<div class="border-bottom">
    <h2>@ViewData["Title"]</h2>
    <h5 class="text-muted">@Model.GetSettings().Comment</h5>

    <form>
        <div class="text-right">
            @Html.Input(nameof(Model.Identifier), Model.Identifier, true)

            @if (Model is IMenuProvider)
            {
                var _mMenu = new NavSettings<AmModule>(Model, FORM_MENU_POST_ACTION);

                <partial name="~/Shared/Asp/GenMenu.cshtml" model="_mMenu"/>
            }
            @if ((Model is IAmEventProvider _iEventPrv) && (!_iEventPrv.Events.IsEmpty()))
            {
                var _aAttrib = UtlEnum.GetCustomAttribute<AlertLayoutAttribute>(_iEventPrv.MostCriticalType);
                var _sLayout = UtlEnum.GetEnumDescription(_aAttrib.Layout);

                <!-- Button -->
                <button type="button" class="btn btn-@_sLayout" data-bs-toggle="modal" data-bs-target="#eventsDlg">
                    Events
                    <span class="badge bg-@_sLayout">
                        @_iEventPrv.Events.Count().ToString()
                    </span>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="eventsDlg" tabindex="-1" aria-labelledby="eventsDlgLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg text-left">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eventsDlgLabel">Event summary</h5>
                            </div>
                            <div class="modal-body">
                                @foreach (var _iEvent in _iEventPrv.Events)
                                {
                                    _sLayout = UtlEnum.GetEnumDescription(_iEvent.Layout);

                                    <div class="alert alert-@_sLayout" role="alert">
                                        <h6 class="text-muted">
                                            @Html.Raw(string.Format("<b>{1:dddd, d.MMMM.yyyy}</b> at {1:HH:mm} | Code: {0}", _iEvent.Identifier.Id, _iEvent.Timestamp))
                                            <input type="submit" class="btn btn-outline-secondary btn-sm" name="@AmAcknowledgeEventAction.FormatName(_iEvent.Id)" value="Ack" formaction=@FORM_NAV_POST_ACTION formmethod="post" />
                                        </h6>
                                        @_iEvent.Message
                                    </div>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>
</div>

@if (Model != null)
{
    <br>
    <form>
        @{
            // Display alerts:
            if ((Model is IAlertProvider _iAlert) && (!_iAlert.Alerts ?.IsEmpty() ??false))
            {
                var _nAlerts = new AlertSettings(_iAlert.Alerts);
                <partial name="~/Shared/Asp/Alert.cshtml" model="_nAlerts"/>
                <br>
            }

            // Navigation:
            var _nNav = new NavSettings<AmModule>(Model, FORM_NAV_POST_ACTION);

            @Html.Input(nameof(Model.Identifier), Model.Identifier, true)
            <partial name="~/Shared/Asp/GenNav.cshtml" model="_nNav"/>

            if (_bCanEdit)
            {       
                <div class="text-right pt-3">
                    <input type="submit" class="btn btn-outline-secondary" name="@ApplyValuesAction.FormatName()" value="Apply" formaction=@FORM_NAV_POST_ACTION formmethod="post" />
                </div>
            }
        }
    </form>
}

