@using AutoMate.Actions
@using AutoMate.Controllers
@using AutoMate.Modules
@using Shared.Asp.GenNav
@using Shared.Utils.Asp
@using Shared.Utils.Core
@inject AutoMate.Services.AmCoreService aService;

@{
    const string SETUP_POST_ACTION = "/Modules/Setup_PostAction";
    const string SETUP_GET_ACTION = "/Modules/Setup_GetAction";
    const string IMPORT_POST_ACTION = "/Modules/Import_PostAction";
    const string EXPORT_POST_ACTION = "/Modules/Export_PostAction";
}
@{
    ViewData["Title"] = "Modules Setup";

    List<AmModuleSettings> lTempSettings;
    NavSettings<AmModuleSettings> nNav = null;
    int iSelModule;
    int i = 0;

    ModulesController.ReadSession(Context.Session, out lTempSettings, out iSelModule);

    if (iSelModule != -1)
        nNav = new NavSettings<AmModuleSettings>(lTempSettings[iSelModule], SETUP_POST_ACTION, SETUP_GET_ACTION);
    
    var dModules = new Dictionary<AmModuleCategory, List<Tuple<Type, string>>>();
    aService.ModuleTypes.ForEach(_kItem => dModules.GetOrCreateValue(_kItem.Value.ModuleDescription.Category).Add(new (
        _kItem.Key,
        _kItem.Value.ModuleDescription.DisplayName
    )));
}

@functions
{
    public void PrintModal(string sModalId, string sModalTitle, string sSubmitAction, string sSubmitTitle, Action aBody)
    {
        <div class="modal fade" id="@sModalId" tabindex="-1" aria-labelledby="labelModalForm" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelModalForm">@sModalTitle</h5>
                    </div>
                    <div class="modal-body">
                        @{
                            aBody();
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" formaction="@sSubmitAction">@sSubmitTitle</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!--- IMPORT / EXPORT --->
<form method="post" enctype="multipart/form-data">
    @{
        Action _aImport = () =>
        {
            <p>Upload settings file for modules to <strong>import</strong>.</p>

            <input type="file" name="File" />
        };
        PrintModal("idImport", "Import modules", IMPORT_POST_ACTION, "Import", _aImport);
    }
</form>
<form method="post" enctype="multipart/form-data">
    @{
        Action _aExport = () =>
        {
            <p>Select modules to <strong>export</strong> in settings file for download.</p>

            i=0;
            foreach (var _aSettings in @lTempSettings)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Modules" value="@i">
                    <label class="form-check-label" for="">@_aSettings.Title</label>
                </div>
                i++;
            }
        };
        PrintModal("idExport", "Export modules", EXPORT_POST_ACTION, "Export", _aExport);
    }
</form>


<!--- MODULE SETUP --->
<form>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills justify-content-between">
                        <li class="nav-item">
                            <h4>Modules</h4>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group" role="group">
                                <div class="btn-group" role="group">
                                    <button id="idAddModules" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Add</button>
                                    <ul class="dropdown-menu" aria-labelledby="idAddModules">
                                        @foreach (var _kItem in @dModules)
                                        {
                                            <li><a class="dropdown-item" href="#">@UtlEnum.GetEnumDescription(_kItem.Key)</a>
                                                <ul class="submenu dropdown-menu">
                                                    @foreach (var _tModule in @_kItem.Value)
                                                    {
                                                        <li><input type="submit" class="dropdown-item" name="@AmAddModuleAction.FormatType(_tModule.Item1)" value="@_tModule.Item2" formaction=@SETUP_POST_ACTION formmethod="post" /></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <button class="btn btn-outline-warning" type="button" data-bs-toggle="modal" data-bs-target="#idImport">Import</button>
                                <button class="btn btn-outline-warning" type="button" data-bs-toggle="modal" data-bs-target="#idExport">Export</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-body list-group list-group-flush">
                    @{
                        i=0;
                        foreach (var _aSetting in lTempSettings)
                        {
                            <li class="list-group-item">
                                @if (i == iSelModule)
                                {
                                    <a class="nav-link active" href="#">@_aSetting.Title</a>
                                }
                                else
                                {
                                    var _sDisabled = (_aSetting.Enabled ? "" : "disabled");
                                    <input type="submit" class="btn @_sDisabled" name="@AmSelectModuleAction.FormatName(i)" value="@_aSetting.Title" formaction=@SETUP_POST_ACTION formmethod="post" />
                                }
                            </li>
                            i++;
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 45rem;">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills justify-content-between">
                        <li class="nav-item">
                            <h4>Settings</h4>
                        </li>
                        @if (nNav != null)
                        {
                            <li class="nav-item">
                                <input type="submit" class="btn btn-danger" name="@AmRemoveModuleAction.FormatName()" value="Remove" formaction=@SETUP_POST_ACTION formmethod="post" />
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-body">
                    @if (nNav != null)
                    {
                        @Html.Input(NavAction.FormatType(), nNav.Model.GetType(), true)
                        @Html.Input(nameof(nNav.Model.Identifier), nNav.Model.Identifier, true)
                        <partial name="~/Shared/Asp/GenNav.cshtml" model="nNav"/>
                    }
                </div>
                <div class="card-footer" align="right">
                    <input type="submit" class="btn btn-primary" name="@AmSaveModuleAction.FormatName()" value="Save" formaction=@SETUP_POST_ACTION formmethod="post" />
                </div>
            </div>
        </div>
    </div>
</form>
