@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
    
@{
    ViewData["Title"] = "User";
}

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>eMail</th>
            <th>Roles</th>
            <th>Menu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uUser in UserManager.Users)
        {
            <tr>
                <td>@uUser.UserName</td>
                <td>@uUser.Email</td>
                <td class="dropdown">
                    <a class="nav-link dropdown-toggle text-info" href="#" id="RoleMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @string.Join(", ", UserManager.GetRolesAsync(uUser).Result)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="RoleMenu">
                        @foreach (var rRole in RoleManager.Roles)
                        {
                            <form asp-area="" asp-controller="Users" asp-action="SetRole" asp-route-sEmail=@uUser.Email asp-route-sRole=@rRole.Name method="post">
                                <button type="submit" class="dropdown-item btn btn-info btn-sm">@rRole.Name</button>
                            </form>
                        }
                    </div>
                </td>
                <td class="dropdown">
                    <a class="nav-link dropdown-toggle text-info" href="#" id="ActionMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="ActionMenu">
                        <form asp-area="" asp-controller="Users" asp-action="Delete" asp-route-sEmail=@uUser.Email method="post">
                            <button type="submit" class="dropdown-item btn btn-info btn-sm">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>